@font-face {
  font-family: agencyfb;
  src: url(../fonts/AGENCYR.TTF);
}

@font-face {
  font-family: agencyfb;
  src: url(../fonts/AGENCYB.TTF);
  font-weight: bold;
}


/* Begin Troopmaster CSS */
  /* transitions to desktop mode @ 1020px */
  html, body {
    background: #ab7e5d;
    color: #fff;
  }

  /* Hide 'New Site' Button in Navigation Tree */
  .user-wrapper > p > a:first-child,
  .user-wrapper > p > span.v-divider{
    display: none;
  }

  .nav-col, .faux-nav-col {
    background: #2d0000;
    border-right: none;
  }

  .logo-col, .faux-logo-col {
    background: #4a2002;
    box-shadow: -10px 4px 10px -10px black, 10px 4px 10px -10px black;
    border-right: none;
  }

  .logo-col a {
    color: rgba(255, 255, 255, 0.5) !important;
  }

  .logo-col a {
    color: rgba(255, 255, 255, 1) !important;
  }

  .troop {
    font-family: 'Raleway';
    font-size: 40px;
    font-weight: 700;
    text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.75), 1px 2px 1px rgba(82, 82, 82, 0.75);
    color: #000000;
    opacity: .45;
  }

  .logonumber {
    font-family: 'Raleway';
    font-size: 40px;
    font-weight: 400;
    text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.75), 1px 2px 1px rgba(82, 82, 82, 0.75);
    color: #000000 !important;
    opacity: .45;
  }

  .content-col, .faux-content-col {
    background: #ab7e5d;
  }

  .announcement {
    background-color: #2b4214;
  }

  /*<div class="announcements"> added around %ANNOUNCEMENTS% in text editor*/
  .announcements table td {
    padding: 5px;
  }

  @media (max-width:599px) { 
    .footer-content-1, .footer-content-3 { background: #2d0000 }
    .footer-content-2, .footer-content-4 { background: #2d0000 }
  }

  @media (min-width:600px) and (max-width:900px) { 
    .footer-content-1, .footer-content-4 { background: #2d0000 }
    .footer-content-2, .footer-content-3 { background: #2d0000 }
  }

  @media (min-width:901px) { 
    .footer-content-1, .footer-content-3 { background: #2d0000 }
    .footer-content-2, .footer-content-4 { background: #2d0000 }
  }

  /*Calendar page*/
  .toggle-container{
    width: 100%;	
  }
  
  /* Troopmaster Backend */
    ul.jstree-container-ul > li { color: black; }
  /*End Troopmaster Backend */
/* End Troopmaster CSS */


* {
  box-sizing: border-box; 
}

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: white;
  background: #ab7e5d;
}

a {
  color: #4798da;
  text-decoration: none;
}
a:hover {
  text-decoration: underline; 
}

.btn {
  display: inline-block;
  margin-bottom: 1rem;
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(255, 255, 255, 0.08);
  border-color: rgba(255, 255, 255, 0.2);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.3rem;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s; 
}

.btn:hover {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.3); 
}

@media screen and (min-width: 64em) {
  .btn {
    padding: 0.75rem 1rem; 
  }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
  .btn {
    padding: 0.6rem 0.9rem;
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 42em) {
  .btn {
    display: block;
    width: 100%;
    padding: 0.75rem;
    font-size: 0.9rem; 
  }
}

.page-header {
  color: #fff;
  text-align: center;
  background-color: #003e01;
  background-image: linear-gradient(120deg, #003e01, #789c79);
  margin: -20px;
}

@media screen and (min-width: 1020px){.page-header { margin-top: -30px; } }

@media screen and (min-width: 64em) {.page-header { padding: 5rem 6rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {.page-header { padding: 3rem 4rem; } }

@media screen and (max-width: 42em) { .page-header { padding: 2rem 1rem; } }

.project-name {
  margin-top: 0;
  margin-bottom: 0.1rem;
  font-family: agencyfb;
  letter-spacing: 38px;
  color: rgba(0, 0, 0, 0.79);
  text-shadow: 1px 1px 5px #c2f9a7, -1px -1px 1px #64ce19;
  font-weight: 900;
}

@media screen and (min-width: 64em) {
.project-name {
  font-size: 5.25rem; 
  font-weight: 900;
} }

@media screen and (min-width: 42em) and (max-width: 64em) {
.project-name {
  font-size: 4.25rem; 
  font-weight: 900;
} }

@media screen and (max-width: 42em) {
.project-name {
  font-size: 3.25rem;
  letter-spacing: 30px;
  font-weight: 900;
  } }

.project-tagline {
  margin-bottom: 2rem;
  font-size: 2rem;
  letter-spacing: 5px;
  color: white;
  opacity: 0.7; 
  }

@media screen and (min-width: 64em) { .project-tagline { font-size: 1.75rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) { .project-tagline { font-size: 1.65rem; } }

@media screen and (max-width: 42em) {.project-tagline { font-size: 1.5rem; } }

.aspect-ratio-box {
  height: 0;
  overflow: hidden;
  padding-top: 100%; /* 1:1 */
  position: relative;
}
.16x9 {
  padding-top: 56.25%;
}
.8x5 {
  padding-top: 62.5%;
}
.3x2 {
  padding-top: 66.66%;
}
.4x3 {
  padding-top: 75%;
}

.aspect-ratio-box-inside {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
